body {
	background-color: #000;
	margin: 0;
	font-family: sans-serif;
}
h1 {
	color: #fff;
	text-align: center;
	padding-top: 20%;
}
h3 {
	color: #eee;
	text-align: center;
	padding-top: 22%;
}